@import 'mixins';
@import 'fonts';

// Breakpoint Variables
$xs: 0;
$sm: 768;
$md: 992;
$lg: 1200;
$xl: 1700;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #2b2b2b !important;
  font-family: 'Press Start 2P', 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

  // Responsive Fonts
  font-size: 100%;

  @include view('smaller', $sm, 'px') {
    font-size: 70%;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &.link {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

@include view('smaller', $sm, 'px') {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    hyphens: auto;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
    font-size: 3em !important;
  }
}

.anchor {
  display: block;
  position: absolute;
  visibility: hidden;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

// Buttons

[class*='iotabots-MuiButton'] {
  font-family: 'Press Start 2P', 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &[class*='-outlined'] {
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;

    &:hover {
      border-width: 2px;
      border-color: #ffffff;
      border-style: solid;
    }
  }
}

// Video
.video-container {
  position: relative;
  overflow: hidden;

  height: 0; // responsive video container

  @include view('smaller', $sm, 'px') {
    padding-bottom: 100%; // responsive video 1x1
  }

  @include view('larger', $sm, 'px') {
    padding-bottom: 56.25%; // responsive video 16x9
  }

  .video {
    width: 100%;

    @include view('larger', $sm, 'px') {
      transform: translateY(-20%);
    }
  }

  .content {
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    @include view('smaller', $sm, 'px') {
      justify-content: flex-end;
      padding-bottom: 25px;
    }

    @include view('larger', $sm, 'px') {
      justify-content: flex-start;
      padding-top: 25%;
    }

    @include view('larger', $md, 'px') {
      padding-top: 35%;
    }
  }
}
