html,
body {
  background-color: #1a253d !important;
}

a {
  color: inherit;
  text-decoration: none;

  &.link {
    text-decoration: underline;

    &:hover,
    &.decent {
      text-decoration: none;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.25);
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 2px;
  background: rgba(46, 255, 191, 1);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1);
}

html {
  scroll-behavior: smooth;
}
